/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

/* General Styling */
:root {
    --lime-9: #5c940d;
    --lime-7: #74b816;
    --lime-2: #d8f5a2;
    --lime-0: #f4fce3;
    --gray-9: #212529;
    --gray-7: #495057;
    --transition: 0.3s ease;
    --max-width: 1200px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

/* Utilities */
.container {
    max-width: var(--max-width);
    margin-inline: auto;
}

h1, h2, h3,
.nav-logo {
    font-family: 'Pacifico', cursive;
}

.btn {
    cursor: pointer;
    display: inline-block;
    color: var(--lime-0);
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px 12px;
    transition: var(--transition);
    z-index: 1;
}

.btn-primary {
    background-color: var(--lime-9);
}

.btn-primary:hover {
    background-color: var(--lime-7);
}

/* Navigation */
.nav {
    background-color: var(--lime-9);
    padding-block: 10px;
}

.nav-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 24px;
}

.nav-logo,
.nav-link {
    color: var(--lime-0);
    transition: var(--transition);
    padding: 6px;
}

.nav-logo:hover > .nav-logo--alt,
.nav-link:hover {
    color: var(--lime-2);
}

.nav-logo {
    font-size: 2.6rem;
    text-shadow: 1px 1px 2px var(--gray-9);
}

.nav-links,
.nav-links-ext {
    display: flex;
    gap: 32px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.8rem;
}

/* Header Content */
.header {
    background-color: #333;
    border-bottom: 1px solid var(--lime-2);
}

.header-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/header-bg.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 50vh;
}

.header-title {
    font-size: 3.6rem;
    color: var(--lime-0);
    z-index: 1;
    margin-bottom: 44px;
}

.header-title-alt {
    color: var(--lime-7);
}

/* Media Queries */
@media(min-width: 1024px) {
    /* Navigation */
    .nav-container {
        grid-template-columns: repeat(3, 1fr);
    }
}