/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

/* General Styling */
:root {
    --lime-9: #5c940d;
    --lime-7: #74b816;
    --lime-2: #d8f5a2;
    --lime-0: #f4fce3;
    --gray-9: #212529;
    --gray-7: #495057;
    --transition: 0.3s ease;
    --max-width: 1200px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}