// Buttons
.btn {
    cursor: pointer;
    border: none;
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    color: var(--lime-0);
    background: var(--lime-9);
    padding: 16px 24px;
    transition: var(--transition);
    z-index: 1;

    &-primary {
        background: var(--lime-9);

        &:hover {
            background: var(--lime-7);
        }
    }
}
