// Header
.header {
    border-bottom: 1px solid var(--lime-2);

    &-container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        // background: url('../images/header-bg.jpg') no-repeat center center/cover;
        height: 100%;
        width: 100%;
        opacity: 0.8;
    }

    &-container {
        position: relative;
    }

    &-title {
        font-size: 3.6rem;
        color: var(--lime-0);
        z-index: 1;

        &-alt {
            color: var(--lime-7)
        }
    }
}