// Flexbox Layouts
.flex {
    display: flex;

    &-d--c {
        flex-direction: column;
    }
}

// Grid Layouts
.grid {
    display: grid;

    // GC-1
    &-gc--1 {
        grid-template-columns: 1fr;
    }

    // GC-2
    &-gc--2 {
        grid-template-columns: 1fr 1fr;

        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }
    }

    // GC-3
    &-gc--3 {
        grid-template-columns: repeat(3, 1fr);

        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }
    }

    // GC - FULL
    &-span--full {
        grid-column: 1 / -1;
    }
}

// Align Items
.ai {
    &-c {
        align-items: center;
    }
}

// Justify Content
.jc {
    &-c {
        justify-content: center;
    }
}