// Variables
:root {
    --lime-9: #5c940d;
    --lime-7: #74b816;
    --lime-2: #d8f5a2;
    --lime-0: #f4fce3;
    --gray-9: #212529;
    --gray-7: #495057;
    --transition: 0.3s ease;
    --max-width: 1200px;
}

// Container
.container {
    max-width: 1100px;

    &-secondary { max-width: 1000px }
    &-tertiary { max-width: 800px }
}

// Images
.img {
    display: block;
    width: 100%;
    object-fit: center;
}

// Backgrounds
.bg {
    &-primary {
        background: var(--lime-9);
    }
    &-light {
        background: var(--lime-0);
    }
    &-dark {
        background: #333;
    }
}

// Gap
.gap {
    &-1 { gap: 8px }
    &-2 { gap: 16px }
    &-3 { gap: 24px }
}

// Padding
.py {
    &-0 { padding-block: 8px }
    &-1 { padding-block: 24px }
    &-2 { padding-block: 32px }
    &-3 { padding-block: 44px }
    &-4 { padding-block: 88px }
}

.pi {
    &-1 { padding-inline: 8px }
    &-2 { padding-inline: 12px }
}

.pb {
    &-1 { padding-bottom: 4px }
}

.p {
    &-0 { padding: 4px }
    &-1 { padding: 8px }
    &-2 { padding: 12px }
    &-3 { padding: 24px }
}

// Margin
.my {
    &-1 { margin-block: 12px }
    &-2 { margin-block: 24px }
    &-3 { margin-block: 36px }
    &-4 { margin-block: 80px }
}

.mb {
    &-1 { margin-bottom: 12px }
    &-2 { margin-bottom: 24px }
    &-3 { margin-bottom: 36px }
    &-4 { margin-bottom: 64px }
}

.ml {
    &-1 { margin-left: 8px }
}

.m {
    &-auto { margin-inline: auto }
}

// Text Align
.ta {
    &-c { text-align: center }
    &-r { text-align: right }
}

// Displays
.disp {
    &-block {
        display: block;
    }
}