@use 'reset';
@use 'layout';
@use 'utilities';
@use 'typography';
@use 'header';
@use 'navigation';

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Utilities */

h1, .section-header-subtext,
.nav-logo {
    font-family: 'Pacifico', cursive;
}

.btn {
    cursor: pointer;
    border: none;
    display: inline-block;
    color: var(--lime-0);
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px 12px;
    transition: var(--transition);
    z-index: 1;
}

.btn-primary {
    background-color: var(--lime-9);
}

.btn-primary:hover {
    background-color: var(--lime-7);
}

.section {
    padding: 40px 8px;
}

.section-header-text {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    color: var(--gray-7);
}

.section-header-subtext {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 32px;
}

/* About Section */
.about-container {
    display: grid;
}

#video {
    width: 100%;
}

.section-article {
    padding-block: 12px;
    border-top: 1px solid var(--lime-7);
    border-bottom: 1px solid var(--lime-7);
    margin-bottom: 32px;
}

.section-article-text {
    font-size: 1.8rem;
}

/* Signup Section */
.section-img {
    display: none;
}

.form {
    text-align: center;
}

.form-legend {
    font-size: 1.8rem;
    margin-bottom: 24px;
}

.form-input {
    padding: 4px;
}

input[type="submit"] {
    display: block;
    margin-top: 24px;
    margin-inline: auto;
}

/* Footer */
.footer {
    text-align: center;
    padding-block: 8px;
}

footer .footer-text {
    font-size: 16px;
}

/* Media Queries */
@media(min-width: 1024px) {
    /* About Section */
    .about-container {
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        align-items: center;
    }

    .section-article {
        border: none;
        margin-bottom: 0;
    }

    /* Signup Section */
    .smoke-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .section-header {
        grid-column: 1 / -1;
    }
    
    .section-container {
        align-self: center;
    }

    .section-img {
        display: block;
        width: 100%;
        object-fit: center;
    }
}