@use 'reset';
@use 'layout';
@use 'utilities';
@use 'components';
@use 'typography';
@use 'header';
@use 'navigation';

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

#video {
    width: 100%;
}