@use 'reset';
@use 'layout';
@use 'utilities';
@use 'components';
@use 'typography';
@use 'header';
@use 'navigation';

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Media Queries */
@media(min-width: 1024px) {
    .section-article {
        border: none;
        margin-bottom: 0;
    }

    /* Signup Section */
    .smoke-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .section-header {
        grid-column: 1 / -1;
    }
    
    .section-container {
        align-self: center;
    }

    .section-img {
        display: block;
        width: 100%;
        object-fit: center;
    }
}